<% provide(:title, "Welcome") %>
<div class="jumbotron">
  <h1>Hello World</h1>
  <p>
    Dolor soluta dolores iusto quia adipisci veritatis accusamus eligendi. Quo veniam possimus veniam blanditiis perspiciatis. Mollitia ab eaque eos dolore.
  </p>
</div>
