<% provide(:title, "Welcome") %>
<div class="jumbotron">
  <h1>ImgStore</h1>
  <h3>MMS image uploading + image storage</h3>
  <p>
    <% if user_signed_in? %>
      <%= link_to 'Upload', '/image/new', class: "btn btn-lg btn-primary" %>
    <% else %>
      <%= link_to 'Sign up!', '/users/sign_up', class: "btn btn-lg btn-primary" %>
    <% end %>
  </p>
</div>
